.search-input {
    position: absolute;
    width: 600px;
    height: 80px;
    right: 60px;
    top: 117px;

    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    border: none;
    text-indent: 32px;
    background-image: url("../../assets/svg/search-icon.svg");
    background-repeat: no-repeat;
    background-position: 544px;
    outline: none;
}

.search-input::placeholder {
    color: #B2B2B2;
}






